.stylefooter {
    position: fixed;
    bottom: 0;
    width: "100%";
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
  }
  
  .navlist {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
  }
  